/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1680px) {
    .wrapper {
        padding: 0 12px;
        padding-bottom: 13px;
    }
    body {
        font-size: 14px;
    }
    .item-marquee {
        padding: 0 33px;
    }
    .slider-marquee {
        padding: 8px 0;
        font-size: 13px;
        margin-bottom: 11px;
    }
    .menu {
        padding: 13px 10px;
        font-size: 14px;
        line-height: 19px;
    }
    .menu li {
        padding: 0 10px;
    }
    .logo img {
        width: 108px;
    }
    .logo-descr {
        font-size: 11px;
        line-height: 14px;
        margin-left: 5px;
        max-width: 165px;
    }
    .header__contacts .btn-main.btn-main_page {
        height: 45px;
        padding: 0px 17px;
        font-size: 12px;
        margin-left: 15px;
    }
    .sandwich {
        width: 48px;
        height: 48px;
        padding-top: 16px;
    }
    .title-big {
        font-size: 42px;
    }
    .billbord .title-big {
        max-width: 786px;
        margin-bottom: 32px;
    }
    .billbord .title-big span::before {
        width: 57px;
        height: 40px;
        left: 90px;
    }
    .billbord .title-big::before {
        width: 45px;
        height: 45px;
        right: 88px;
        bottom: 53px;
    }
    .descr-big {
        font-size: 21px;
    }
    .billbord .descr-big {
        max-width: 860px;
    }
    .billbord__buttons {
        padding-top: 48px;
    }
    .btn-main {
        height: 62px;
        font-size: 14px;
        padding: 0 28px;
    }
    .btn-video {
        width: 175px;
        height: 175px;
        background-size: 55px auto;
    }
    .btn-video::before {
        top: 12px;
        left: 12px;
        bottom: 12px;
        right: 12px;
    }
    .billbord {
        padding-top: 200px;
        min-height: 745px;
    }
    .billbord__socials img {
        max-width: 48px;
    }
    .icon-advantages img {
        max-width: 58px;
    }
    .item-advantage {
        padding: 35px 46px;
        padding-right: 40px;
        padding-bottom: 42px;
        min-height: 258px;
    }
    .title-middle {
        font-size: 21px;
    }
    .item-advantage .title-middle {
        margin-bottom: 21px;
    }
    .item-advantage {
        padding: 35px 46px;
        padding-right: 40px;
        padding-bottom: 42px;
        min-height: 220px;
    }
    .row {
        margin: 0 -10px;
    }
    .row > div {
        padding: 0 10px;
    }
    .row_main > div {
        margin-bottom: 20px;
    }
    .row.row_main {
        margin-bottom: -20px;
    }
    .advantages {
        padding-top: 30px;
        margin-bottom: 120px;
        min-height: 555px;
    }
    .title-section {
        font-size: 40px;
    }
    .questions__title .title-section, .reviews__title .title-section, .title-categories .title-section, .catalog__title .title-section, .steps__title .title-section, .clients__title .title-section {
        line-height: 50px;
    }
    .title-categories {
        width: 500px;
        height: 315px;
        padding: 0 65px;
        padding-top: 119px;
        margin-top: -154px;
    }
    .categories .descr-big {
        margin-top: 48px;
        margin-left: 55px;
        max-width: 567px;
    }
    .item-category__title {
        font-size: 27px;
        line-height: 35px;
    }
    .tag-category {
        height: 46px;
    }
    .item-category {
        height: 240px;
        padding: 20px;
    }
    .row_categories .row_categories > div {
        margin-bottom: 20px;
    }
    .more-categories {
        font-size: 18px;
        line-height: 23px;
    }
    .more-categories img {
        margin-right: 17px;
    }
    .row_categories .row_categories {
        margin-bottom: -20px;
    }
    .categories {
        padding-bottom: 130px;
    }
    .about__value {
        width: 344px;
        height: 268px;
        padding-top: 91px;
        padding-left: 90px;
        margin-right: -32px;
        margin-left: -68px;
        font-size: 145px;
        line-height: 145px;
    }
    .about__value span {
        font-size: 58px;
        line-height: 66px;
        margin-top: 17px;
    }
    .about__head {
        margin-bottom: 30px;
    }
    .about__block .item-advantage {
        padding: 23px;
        padding-right: 15px;
    }
    .title-small {
        font-size: 18px;
    }
    .item-advantage .title-small {
        margin-bottom: 19px;
    }
    .item-advantage__icon {
        width: 22px;
        height: 22px;
        margin-bottom: 7px;
    }
    .item-step__number, .item-advantage__number {
        font-size: 29px;
        top: 18px;
        right: 26px;
    }
    .about__block {
        min-height: 702px;
        padding-top: 61px;
        padding-bottom: 189px;
    }
    .catalog__title {
        width: 425px;
        height: 294px;
        padding-top: 120px;
        padding-left: 84px;
        margin-top: -159px;
    }
    .catalog__head .btn-main {
        height: 55px;
    }
    .image-catalog {
        margin-bottom: 26px;
    }
    .slider-catalog {
        padding-bottom: 84px;
    }
    .catalog {
        padding-bottom: 50px;
    }
    .item-step__content {
        padding: 30px 32px;
        min-height: 165px;
    }
    .slider-steps .slick-slide {
        padding: 0 10px;
        padding-bottom: 40px;
    }
    .slider-steps .slick-list {
        margin: 0 -10px;
    }
    .item-step {
        width: 350px;
    }
    .item-step.item-step_first .item-step__content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .slider-steps {
        margin-right: calc((100vw - 1323px) / 2* -1);
    }
    .steps .slider-marquee {
        top: -110px;
        margin-bottom: -110px;
    }
    .item-step__phone {
        font-size: 27px;
        margin-bottom: 18px;
    }
    .list-socials img {
        max-width: 48px;
    }
    .item-step .list-socials {
        margin-top: 24px;
    }
    .steps__button .btn-main {
        width: 285px;
    }
    .steps__button {
        padding-top: 60px;
    }
    .steps__title {
        width: 585px;
        height: 293px;
        padding-top: 133px;
        padding-left: 245px;
        margin-top: -146px;
        margin-left: 345px;
    }
    .steps {
        margin-top: 155px;
        margin-bottom: 135px;
        padding-bottom: 65px;
    }
    .callback__image img {
        max-width: 620px;
    }
    .callback .title-section {
        max-width: 537px;
        margin-top: 38px;
        margin-bottom: 25px;
    }
    .callback .descr-big {
        max-width: 825px;
        margin-bottom: 32px;
    }
    .item-form {
        margin-bottom: 17px;
    }
    .callback .btn-main {
        margin-top: 15px;
    }
    .item-form input, .item-form textarea {
        height: 46px;
        padding: 0 14px;
        font-size: 13px;
    }
    .callback__image {
        margin-left: -132px;
        margin-top: -5px;
    }
    .callback {
        min-height: 663px;
    }
    .callback .title-section::before {
        width: 60px;
        height: 73px;
        margin-left: 17px;
    }
    .clients__title {
        width: 401px;
        height: 193px;
        padding-top: 28px;
        padding-left: 73px;
        margin-left: -7px;
    }
    .item-client {
        min-height: 265px;
        padding: 26px 25px;
        padding-bottom: 27px;
    }
    .title-main {
        font-size: 28px;
        line-height: 35px;
    }
    .item-client .btn-main.btn-main_page {
        padding: 0 20px;
        height: 43px;
        font-size: 13px;
    }
    .clients .row_main::after, 
    .clients .row_main::before {
        position: absolute;
        display: block;
        content: " ";
        width: 160px;
        height: 125px;
    }
    .clients .row_main::before {
        bottom: -84px;
        left: -91px;
    }
    .clients .row_main::after {
        top: -113px;
        right: -92px;
    }
    .reviews__title {
        width: 455px;
        height: 287px;
        padding-top: 135px;
        padding-left: 56px;
        margin-top: -179px;
        margin-bottom: 30px;
    }
    .block-review {
        padding: 27px 70px;
        font-size: 18px;
        margin-bottom: 38px;
    }
    .rating__item {
        font-size: 18px;
        margin-right: 6px;
    }
    .descr-rating {
        font-size: 13px;
        margin-left: 12px;
    }
    .block-review__head {
        margin-bottom: 12px;
    }
    .block-review .btn-main {
        width: 240px;
        height: 73px;
    }
    .item-review__descr {
        margin-bottom: 28px;
    }
    .item-review {
        font-size: 13px;
    }
    .slider-reviews .slick-slide {
        padding: 0 15px;
    }
    .slider-reviews .slick-list {
        margin: 0 -15px;
    }
    .slider-reviews {
        padding-bottom: 80px;
    }
    .questions {
        padding-top: 170px;
        padding-bottom: 160px;
    }
    .questions__title {
        width: 460px;
        height: 231px;
        padding-top: 33px;
        padding-left: 47px;
        margin-bottom: 33px;
    }
    .questions .descr-big {
        max-width: 420px;
        font-size: 19px;
    }
    .questions .descr-big a {
        font-size: 26px;
    }
    .questions .descr-big::before {
        width: 160px;
        height: 120px;
        bottom: -111px;
        left: -100px;
    }
    .questions__image svg {
        max-width: 280px;
        height: auto;
    }
    .item-question__head {
        padding: 10px;
        padding-left: 18px;
        font-size: 16px;
    }
    .item-question__content {
        padding: 18px;
        padding-right: 34px;
        padding-top: 0;
        font-size: 13px;
    }
    .item-question {
        margin-bottom: 10px;
    }
    .questions__image {
        margin-left: -142px;
    }
    .footer__title {
        font-size: 18px;
        margin-bottom: 22px;
    }
    .footer__nav li {
        margin-bottom: 20px;
    }
    .descr-payments {
        font-size: 12px;
    }
    .footer__phone {
        font-size: 18px;
    }
    .col-lg-2 .footer__content {
        padding-top: 8px;
    }
    .socials-main a {
        width: 50px;
        height: 50px;
    }
    .socials-main a img {
        transform: scale(0.9);
    }
    .list-payments li {
        margin-right: 20px;
    }
    .footer {
        padding-top: 37px;
        padding-bottom: 18px;
        line-height: 22px;
    }
    .footer-bottom {
        margin-top: 63px;
    }
    .item-step__number {
        margin-bottom: 35px;
    }
    .callback__icon img {
        max-width: 145px;
    }
    .callback__icon {
        top: 71px;
        left: 54px;
    }
    .block-review::before {
        width: 80px;
        height: 77px;
        right: 103px;
        margin-bottom: 23px;
    }
    .hint-title {
        width: 45px;
        height: 45px;
        top: 59px;
        left: 653px;
        padding: 6px 7px;
        font-size: 14px;
    }
    .hint-title img {
        max-width: 28px;
    }
    .hint-title:hover {
        width: 255px;
    }
    .item-step::before {
        width: 320px;
        height: 231px;
        top: -107px;
        left: -135px;
    }
    .slider-marquee ~ .billbord {
        margin-top: 40px;
    }
    .item-contact {
        font-size: 16px;
    }
    .item-contact strong {
        font-size: 18px;
    }
    .news-title .title-section,
    .thanks-title .title-section,
    .order-title .title-section,
    .page_categories .title-section,
    .delivery-title .title-section,
    .contacts-title .title-section {
        font-size: 36px;
        line-height: 44px;
    }
    .contacts-title {
        width: 310px;
        height: 171px;
        padding-top: 29px;
        margin-top: -34px;
        padding-left: 58px;
    }
    .page.page_contacts {
        padding-top: 60px;
    }
    .page {
        padding-bottom: 54px;
        margin-bottom: 40px;
    }
    .form-page {
        padding: 35px 40px;
        padding-bottom: 37px;
        max-width: 390px;
        background-size: 38px auto;
        background-position: 21px 26px;
    }
    .form-page__title {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 28px;
    }
    .form-page .btn-main {
        margin-top: 20px;
    }
    .form-page .checkbox {
        margin-top: 16px;
    }
    #map {
        height: 445px;
    }
    .wrapper.wrapper_page {
        padding-top: 138px;
    }
    .questions.page {
        padding-top: 50px;
        padding-bottom: 150px;
    }
    .delivery-title {
        width: 360px;
        height: 269px;
        padding-top: 99px;
        padding-left: 58px;
        margin-right: 30px;
        margin-top: -50px;
    }
    .image-delivery img {
        max-width: 320px;
    }
    .page_delivery ul {
        margin-top: 36px;
    }
    .page_delivery .title-main {
        margin-bottom: 23px;
        max-width: 311px;
    }
    .page_delivery .descr-big {
        max-width: 341px;
    }
    .subitle-delivery {
        font-size: 26px;
        margin-left: 115px;
        margin-top: -180px;
        max-width: 606px;
    }
    .page.page_delivery {
        padding-top: 58px;
        padding-bottom: 115px;
    }
    .reviews_page .reviews__title {
        width: 440px;
        height: 207px;
        padding-top: 35px;
        padding-left: 67px;
        margin-top: -86px;
    }
    .page_categories .title-categories {
        width: 315px;
        height: 193px;
        padding-top: 22px;
        padding-left: 48px;
        margin-top: -96px;
    }
    .page.page_categories {
        margin-top: 80px;
    }
    .ic-tag {
        width: 26px;
        height: 26px;
        margin-right: 6px;
        margin-left: -8px;
    }
    .page_order .title-main {
        max-width: 764px;
        margin-bottom: 47px;
    }
    .order-title {
        width: 320px;
        height: 187px;
        padding-top: 31px;
        padding-left: 62px;
        margin-top: -27px;
    }
    .page.page_order {
        padding-top: 61px;
        padding-bottom: 115px;
    }
    .thanks-title {
        width: 435px;
        height: 293px;
        padding-top: 65px;
        padding-left: 84px;
    }
    .page_thanks .title-main {
        max-width: 570px;
        margin-bottom: 35px;
    }
    .image-thanks {
        margin-top: 270px;
        margin-left: 0;
    }
    .image-thanks img {
        max-width: 530px;
    }
    .slider-for__item {
        height: 453px;
    }
    .slider-nav__item {
        height: 95px;
    }
    .price-main {
        font-size: 26px;
    }
    .page_card .price-main, .page_card .quantity {
        margin: 20px 0;
    }
    .title-card {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .info-card {
        line-height: 221%;
    }
    .page.page_card {
        padding-bottom: 95px;
    }
    .page_card .btn-main {
        min-width: 250px;
    }
    .page_shop .slider-for__item {
        height: 385px;
    }
    .page_shop.page_card {
        padding-bottom: 56px;
    }
    .recommendations .title-page {
        margin-bottom: 36px;
    }
    .title-page {
        font-size: 36px;
        line-height: 45px;
    }
    .item-product__image {
        height: 220px;
    }
    .item-product__title {
        font-size: 16px;
        margin-bottom: 22px;
    }
    .item-product__content {
        padding: 15px 19px;
        padding-bottom: 24px;
    }
    .page_card ~ .callback {
        margin-bottom: 120px;
    }
    .news-title {
        width: 310px;
        height: 156px;
        padding-top: 31px;
        padding-left: 73px;
        margin-bottom: -18px;
    }
    .item-news__date {
        margin-bottom: 8px;
    }
    .item-news__image {
        height: 225px;
        margin-bottom: 17px;
    }
    .item-news__title {
        font-size: 18px;
    }
    .row.row_news {
        margin-bottom: -30px;
    }
    .row.row_news > div {
        margin-bottom: 30px;
    }
    .page-numbers {
        font-size: 18px;
        margin: 0px 27px;
    }
    .prev.page-numbers, .next.page-numbers {
        width: 56px;
        height: 56px;
        font-size: 18px;
    }
    .pager {
        height: 56px;
        margin-top: 66px;
    }
    .billbord-article h1 {
        font-size: 32px;
    }
    .billbord-article__content {
        padding: 0 55px;
    }
    .article-content h2 {
        font-size: 28px;
        margin: 22px 0;
    }
    .article-content p {
        margin-bottom: 17px;
    }
    .article-content ul {
        max-width: 770px;
    }

    .content-dropdown {
        padding: 40px 70px;
    }
    .menu-dropdown__title {
        font-size: 18px;
        margin-bottom: 27px;
    }
    .menu-dropdown__list {
        font-size: 16px;
        line-height: 22px;
    }
    .menu-dropdown__list li {
        margin-bottom: 28px;
    }
    .menu-dropdown__title:not(:first-child) {
        margin-top: 43px;
        margin-bottom: 20px;
    }
    .phone-menu {
        font-size: 18px;
    }
}

@media only screen and (max-width : 1380px) {
    .logo-descr {
        font-size: 9px;
        line-height: 13px;
        margin-left: 2px;
        max-width: 134px;
    }
    .header {
        top: 50px;
    }
    body {
        font-size: 12px;
    }
    .menu li {
        padding: 0 8px;
    }
    .menu {
        padding: 11px 8px;
        font-size: 12px;
        line-height: 17px;
    }
    .header__contacts .btn-main.btn-main.btn-main_page {
        height: 43px;
    }
    .descr-big {
        font-size: 18px;
    }
    .billbord .descr-big {
        max-width: 738px;
    }
    .title-big {
        font-size: 38px;
    }
    .billbord .title-big {
        max-width: 725px;
        margin-bottom: 19px;
    }
    .billbord .title-big::before {
        width: 40px;
        height: 40px;
        right: 88px;
        bottom: 48px;
    }
    .billbord {
        padding-top: 175px;
        min-height: 650px;
    }
    .btn-main {
        height: 60px;
        font-size: 14px;
        padding: 0 28px;
    }
    .billbord__buttons {
        padding-top: 38px;
    }
    .btn-video {
        width: 160px;
        height: 160px;
        background-size: 45px auto;
    }
    .billbord__socials li {
        margin-bottom: 6px;
    }
    .billbord__socials img {
        max-width: 45px;
    }
    .icon-advantages img {
        max-width: 48px;
    }
    .item-advantage {
        padding: 28px 28px;
        padding-right: 25px;
        padding-bottom: 35px;
        min-height: 195px;
    }
    .title-middle {
        font-size: 19px;
    }
    .item-advantage .title-middle {
        margin-bottom: 16px;
    }
    .advantages {
        padding-top: 30px;
        margin-bottom: 120px;
        min-height: 480px;
    }
    .title-section {
        font-size: 34px;
    }
    .title-categories {
        width: 450px;
        height: 288px;
        padding: 0 61px;
        padding-top: 109px;
        margin-top: -138px;
    }
    .questions__title .title-section, .reviews__title .title-section, .title-categories .title-section, .catalog__title .title-section, .steps__title .title-section, .clients__title .title-section {
        line-height: 45px;
    }
    .categories .descr-big {
        margin-top: 47px;
        margin-left: 36px;
        max-width: 480px;
    }
    .about {
        padding-top: 63px;
        padding-bottom: 105px;
    }
    .about__block {
        min-height: 640px;
        padding-top: 61px;
        padding-bottom: 165px;
    }
    .catalog__title {
        width: 394px;
        height: 270px;
        padding-top: 109px;
        padding-left: 74px;
        margin-top: -143px;
    }
    .catalog__head .btn-main {
        height: 52px;
    }
    .image-catalog {
        margin-bottom: 20px;
    }
    .steps__title {
        width: 534px;
        height: 265px;
        padding-top: 118px;
        padding-left: 223px;
        margin-top: -159px;
        margin-left: 315px;
    }
    .slider-steps {
        margin-right: calc((100vw - 1137px) / 2* -1);
    }
    .steps .slider-marquee {
        top: -110px;
        margin-bottom: -110px;
    }
    .item-step__content {
        padding: 24px 26px;
        min-height: 142px;
    }
    .steps {
        margin-top: 150px;
        margin-bottom: 102px;
        padding-bottom: 52px;
    }
    .callback__image img {
        max-width: 530px;
    }
    .callback__image {
        margin-left: -86px;
        margin-top: -5px;
    }
    .callback {
        min-height: 565px;
    }
    .clients__title {
        width: 365px;
        height: 173px;
        padding-top: 26px;
        padding-left: 69px;
        margin-left: -7px;
    }
    .title-main {
        font-size: 25px;
        line-height: 31px;
    }
    .item-client {
        min-height: 250px;
        padding: 22px 19px;
        padding-bottom: 22px;
    }
    .clients .row_main::after, .clients .row_main::before {
        width: 135px;
        height: 100px;
    }    
    .clients .row_main::before {
        bottom: -63px;
        left: -63px;
    }
    .clients .row_main::after {
        top: -86px;
        right: -64px;
    }
    .reviews__title {
        width: 417px;
        height: 264px;
        padding-top: 123px;
        padding-left: 56px;
        margin-top: -159px;
        margin-bottom: 26px;
    }
    .questions {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    .questions .descr-big {
        max-width: 374px;
        font-size: 17px;
    }
    .questions__title {
        width: 391px;
        height: 197px;
        padding-top: 28px;
        padding-left: 41px;
        margin-bottom: 25px;
    }
    .item-question__arrow {
        width: 35px;
        height: 35px;
    }
    .questions__image svg {
        max-width: 252px;
    }
    .questions__image {
        margin-left: -121px;
        margin-top: 42px;
    }
    .item-question__content {
        padding: 18px;
        padding-right: 26px;
        padding-top: 0;
        font-size: 12px;
    }
    .callback .title-section::before {
        width: 52px;
        height: 62px;
        margin-left: 5px;
    }
    .callback .title-section {
        max-width: 493px;
    }
    .callback__icon img {
        max-width: 125px;
    }
    .callback__icon {
        top: 63px;
        left: 54px;
    }
    .hint-title {
        width: 40px;
        height: 40px;
        top: 55px;
        left: 597px;
        padding: 5px 6px;
        font-size: 13px;
    }
    .hint-title:hover {
        width: 235px;
    }
    .hint-title img {
        max-width: 26px;
    }
    .item-step::before {
        width: 290px;
        height: 210px;
        top: -91px;
        left: -121px;
    }
    .item-contact {
        font-size: 14px;
    }
    .item-contact strong {
        font-size: 16px;
    }
    #map {
        margin: 0;
    }
    .questions.page {
        padding-top: 40px;
        padding-bottom: 100px;
    }
    .delivery-title {
        margin-right: 0;
    }
    .subitle-delivery {
        font-size: 22px;
        margin-left: 75px;
        margin-top: -172px;
        max-width: 505px;
    }
    .page_delivery .descr-big {
        max-width: 292px;
    }
    .page_delivery .title-main {
        margin-bottom: 17px;
        max-width: 277px;
    }
    .page_delivery ul {
        margin-top: 25px;
    }
    .tag-category.tag-category_main {
        min-width: 138px;
    }
    .tag-category {
        margin-right: 6px;
        padding: 0 16px;
    }
    .page_order .title-main {
        max-width: 683px;
        margin-bottom: 33px;
    }
    .page_thanks .title-main {
        max-width: 515px;
        margin-bottom: 25px;
    }
    .page.page_thanks {
        padding-top: 10px;
    }
    .slider-for__item {
        height: 410px;
    }
    .slider-nav__item {
        height: 83px;
    }
    .title-card {
        font-size: 24px;
        margin-bottom: 6px;
    }
    .price-main {
        font-size: 24px;
    }
    .info-card {
        line-height: 215%;
    }
    .page_shop .slider-for__item {
        height: 325px;
    }
    .text-card p {
        margin-bottom: 14px;
    }
    .recommendations {
        padding: 70px 0;
    }
    .item-product__image {
        height: 185px;
    }
    .item-news__image {
        height: 200px;
        margin-bottom: 15px;
    }
    .article-content ul {
        max-width: 665px;
    }
    .article-content p {
        margin-bottom: 12px;
    }
    .article-content h2 {
        font-size: 26px;
        margin: 18px 0;
    }

    .content-dropdown {
        padding: 30px 45px;
    }
    .menu-dropdown__title {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .menu-dropdown__list {
        font-size: 14px;
        line-height: 20px;
    }
    .menu-dropdown .col-lg-6 .menu-dropdown__list {
        max-width: 380px;
    }
    .menu-dropdown__list li {
        margin-bottom: 24px;
    }
    .menu-dropdown__title:not(:first-child) {
        margin-top: 28px;
        margin-bottom: 15px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .logo-descr {
        display: none;
    }
    .header .phone-main {
        display: none;
    }
    .title-big {
        font-size: 34px;
    }
    .billbord .title-big::before {
        width: 35px;
        height: 35px;
        right: 93px;
        bottom: 44px;
    }
    .billbord .title-big span::before {
        width: 45px;
        height: 33px;
        left: 80px;
    }
    .descr-big {
        font-size: 16px;
    }
    .billbord {
        padding-top: 155px;
        min-height: 585px;
    }
    .title-middle {
        font-size: 17px;
    }
    .item-advantage {
        padding: 24px 20px;
        padding-right: 15px;
        padding-bottom: 25px;
        min-height: 174px;
    }
    .item-category__title {
        font-size: 22px;
        line-height: 30px;
    }
    .row > div {
        padding: 0 5px;
    }
    .row {
        margin: 0 -5px;
    }
    .row_categories .row_categories > div {
        margin-bottom: 10px;
    }
    .row_categories .row_categories {
        margin-bottom: -10px;
    }
    .item-category {
        height: 210px;
        padding: 17px;
    }
    .more-categories img {
        margin-right: 10px;
    }
    .more-categories {
        font-size: 16px;
        line-height: 21px;
    }
    .tag-category {
        height: 42px;
    }
    .tag-category.tag-category_main {
        min-width: 138px;
    }
    .categories {
        padding-bottom: 90px;
    }
    .title-section {
        font-size: 29px;
    }
    .about__value {
        width: 230px;
        height: 177px;
        padding-top: 74px;
        padding-left: 70px;
        margin-right: -32px;
        margin-left: -143px;
        font-size: 89px;
        margin-top: 20px;
        line-height: 83px;
    }
    .about__value span {
        font-size: 37px;
        line-height: 40px;
        margin-top: 6px;
    }
    .title-small {
        font-size: 16px;
    }
    .about__block .item-advantage {
        padding: 15px;
        padding-right: 8px;
    }
    .item-step__number, .item-advantage__number {
        font-size: 24px;
        top: 13px;
        right: 17px;
    }
    .row_main > div {
        margin-bottom: 10px;
    }
    .row.row_main {
        margin-bottom: -10px;
    }
    .about {
        padding-top: 40px;
        padding-bottom: 82px;
    }
    .about__block {
        min-height: 568px;
        padding-top: 55px;
        padding-bottom: 143px;
    }
    .title-categories {
        width: 400px;
        height: 257px;
        padding: 0 57px;
        padding-top: 100px;
        margin-top: -123px;
    }
    .questions__title .title-section, .reviews__title .title-section, .title-categories .title-section, .catalog__title .title-section, .steps__title .title-section, .clients__title .title-section {
        line-height: 38px;
    }
    .image-catalog.image-catalog_top {
        margin-bottom: -18px;
    }
    .catalog__title {
        width: 339px;
        height: 233px;
        padding-top: 97px;
        padding-left: 63px;
        margin-top: -120px;
    }
    .steps__title {
        width: 465px;
        height: 232px;
        padding-top: 104px;
        padding-left: 198px;
        margin-top: -145px;
        margin-left: 258px;
    }
    .slider-steps {
        margin-right: calc((100vw - 890px) / 2* -1);
    }
    .item-step {
        width: 280px;
    }
    .item-step__content {
        padding: 20px 20px;
        min-height: 130px;
    }
    .item-step__phone {
        font-size: 21px;
        margin-bottom: 14px;
    }
    .callback__image {
        margin-left: -119px;
        margin-top: -2px;
    }
    .callback__image img {
        max-width: 460px;
    }
    .item-form input, .item-form textarea {
        height: 40px;
        padding: 0 8px;
        font-size: 12px;
    }
    .item-form {
        margin-bottom: 13px;
    }
    .callback .btn-main {
        margin-top: 7px;
        height: 44px;
    }
    .callback .title-section {
        max-width: 420px;
    }
    .callback .title-section {
        margin-bottom: 18px;
    }
    .callback {
        min-height: 495px;
    }
    .clients__title {
        width: 325px;
        height: 153px;
        padding-top: 24px;
        padding-left: 65px;
        margin-left: -7px;
    }
    .title-main {
        font-size: 20px;
        line-height: 26px;
    }
    .item-client {
        min-height: 230px;
    }
    .reviews {
        margin-top: 185px;
    }
    .reviews__title {
        width: 375px;
        height: 239px;
        padding-top: 114px;
        padding-left: 56px;
        margin-top: -145px;
        margin-bottom: 23px;
    }
    .block-review {
        padding: 25px 38px;
        font-size: 17px;
        margin-bottom: 32px;
    }
    .questions {
        padding-top: 80px;
        padding-bottom: 80px;
    }    
    .questions .descr-big {
        max-width: 311px;
        font-size: 15px;
    }
    .questions .descr-big::before {
        width: 127px;
        height: 105px;
        bottom: -93px;
        left: -78px;
    }
    .questions .descr-big a {
        font-size: 22px;
    }
    .questions__image svg {
        max-width: 194px;
    }
    .questions__image {
        margin-left: -88px;
        margin-top: 87px;
    }
    .questions__title {
        width: 330px;
        height: 167px;
        padding-top: 23px;
        padding-left: 34px;
        margin-bottom: 11px;
    }
    .item-question__head {
        font-size: 14px;
    }
    .socials-main a {
        width: 42px;
        height: 42px;
    }
    .list-payments li {
        margin-right: 5px;
    }
    .list-payments li img {
        transform: scale(0.8);
        transform-origin: 0 50%;
    }
    .descr-payments {
        font-size: 10px;
    }
    .footer__phone {
        font-size: 15px;
    }
    .footer__nav li {
        margin-bottom: 14px;
    }
    .footer__title {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .footer-bottom {
        margin-top: 45px;
    }
    .callback__icon img {
        max-width: 90px;
    }
    .callback__icon {
        top: 63px;
        left: 76px;
    }
    .block-review::before {
        width: 65px;
        height: 64px;
        right: 65px;
        margin-bottom: 16px;
    }
    .hint-title {
        width: 35px;
        height: 35px;
        top: 48px;
        left: 537px;
        padding: 5px 6px;
        font-size: 12px;
    }
    .hint-title:hover {
        width: 210px;
    }
    .hint-title div {
        margin-left: 6px;
    }
    .hint-title img {
        max-width: 22px;
    }
    .row_contacts > div:not(.col-lg-4) .item-contact {
        margin-left: 0;
    }
    .item-contact strong {
        font-size: 14px;
    }
    .item-contact {
        font-size: 12px;
    }
    .news-title .title-section,
    .order-title .title-section,
    .page_categories .title-section,
    .delivery-title .title-section,
    .contacts-title .title-section {
        font-size: 30px;
        line-height: 36px;
    }
    .contacts-title {
        width: 275px;
        height: 152px;
        padding-top: 26px;
        margin-top: -26px;
        padding-left: 50px;
    }
    .form-page .checkbox {
        white-space: normal;
    }
    .form-page__title {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 22px;
    }
    .form-page {
        padding: 25px 20px;
        padding-bottom: 30px;
        max-width: 390px;
        background-size: 33px auto;
        background-position: 17px 23px;
    }
    #map {
        height: 410px;
    }
    .wrapper.wrapper_page {
        padding-top: 132px;
    }
    .image-delivery img {
        max-width: 220px;
    }
    .image-delivery {
        margin-top: -11px;
        margin-right: -73px;
    }
    .delivery-title .title-section {
        max-width: 155px;
    }
    .delivery-title {
        width: 305px;
        height: 233px;
        padding-top: 86px;
        padding-left: 51px;
        margin-top: -40px;
    }
    .subitle-delivery {
        font-size: 19px;
        margin-left: 60px;
        margin-top: -142px;
        max-width: 455px;
    }
    .page_delivery .col_delivery {
        padding-left: 35px;
    }
    .page_delivery .title-main {
        margin-bottom: 17px;
        max-width: 220px;
    }
    .reviews_page .reviews__title {
        width: 355px;
        height: 168px;
        padding-top: 32px;
        padding-left: 63px;
        margin-top: -71px;
    }
    .reviews.reviews_page {
        margin-top: 80px;
        margin-bottom: 35px;
    }
    .row.row_reviews > div {
        padding: 0 15px;
        margin-bottom: 35px;
    }
    .row.row_reviews {
        margin: 0 -15px;
        margin-bottom: -35px;
    }
    .page_categories .title-categories {
        width: 280px;
        height: 172px;
        padding-top: 23px;
        padding-left: 48px;
        margin-top: -86px;
    }
    .page.page_categories {
        margin-top: 70px;
        padding-bottom: 70px;
    }
    .col-lg-3 .item-category .item-category__bottom {
        flex-wrap: wrap;
    }
    .tag-category {
        margin-bottom: 4px;
    }
    .order-title {
        width: 260px;
        height: 153px;
        padding-top: 24px;
        padding-left: 45px;
        margin-top: -22px;
    }
    .page_order .title-main {
        max-width: 542px;
        margin-bottom: 22px;
    }
    .image-thanks img {
        max-width: 415px;
    }
    .slider-for__item {
        height: 335px;
    }
    .slider-nav__item {
        height: 63px;
    }
    .title-page {
        font-size: 33px;
        line-height: 42px;
    }
    .news-title {
        width: 264px;
        height: 133px;
        padding-top: 28px;
        padding-left: 58px;
        margin-bottom: -16px;
    }
    .item-news__title {
        font-size: 16px;
    }
    .billbord-article__content {
        padding: 0 35px;
    }
    .billbord-article h1 {
        font-size: 28px;
        max-width: 520px;
    }
    .billbord-article {
        margin-bottom: 25px;
    }

    .menu-dropdown .col-lg-6 .menu-dropdown__list {
        max-width: 333px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .billbord__socials,
    .menu,
    .btn-video,
    .header__wrapper .btn-main.btn-main_page {
        display: none;
    }
    .billbord .title-big {
        max-width: 654px;
    }
    .advantages .row.row_main {
        justify-content: center;
    }
    .icon-advantages {
        margin-bottom: 18px;
    }
    .advantages {
        padding-bottom: 100px;
        border-radius: 50px;
    }
    .item-advantage {
        min-height: 100%;
    }
    .categories .descr-big {
        margin-top: 15px;
        margin-bottom: 20px;
        max-width: 428px;
    }
    .row_categories > .col-lg-3 .item-category {
        min-height: 400px;
    }
    .row_categories > div {
        margin-bottom: 10px;
    }
    .categories {
        padding-bottom: 40px;
    }
    .about__block {
        border-radius: 40px;
    }
    .image-catalog.image-catalog_top {
        margin-bottom: -24px;
    }
    .slider-catalog {
        padding-bottom: 70px;
    }
    .steps__title {
        margin-left: 85px;
    }
    .slider-steps {
        margin-right: calc((100vw - 680px) / 2* -1);
    }
    .steps {
        margin-top: 138px;
        margin-bottom: 65px;
        padding-bottom: 40px;
    }
    .callback .title-section {
        margin-top: 0;
    }
    .callback__image img {
        margin: 0 auto;
    }
    .callback__image {
        max-width: 460px;
        margin: 0 auto;
    }
    .callback {
        padding-bottom: 110px;
        border-radius: 40px;
        background-size: 100% auto;
        background-position: center bottom;
    }
    .callback::after {
        position: absolute;
        display: block;
        content: " ";
        height: 70%;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #051317;
        border-radius: 40px 40px 0 0;
        z-index: -1;
    }
    .callback .descr-big {
        max-width: 570px;
        margin-bottom: 20px;
    }
    .questions {
        padding-top: 48px;
        padding-bottom: 45px;
    }
    .questions__image {
        margin: 0;
    }
    .questions .descr-big {
        margin-bottom: 20px;
    }
    .footer__content {
        padding-top: 15px;
        display: none;
    }
    .footer__content + .footer__title {
        margin: 0;
    }
    .footer__title {
        padding: 10px 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__title img {
        max-width: 30px;
        display: block;
        transition: all 0.3s;
    }
    .footer__title.active img {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
    .footer-bottom .row > div {
        padding-bottom: 10px;
    }
    .btn_top {
        margin-top: -50px;
    }
    .footer-bottom {
        margin-top: 25px;
    }
    .footer {
        border-radius: 24px;
    }
    .descr-payments {
        font-size: 12px;
    }
    .header .header__wrapper .phone-main {
        width: 48px;
        height: 48px;
        background: #06d1ea;
        border-radius: 50%;
        flex: none;
        font-size: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .phone-main i {
        font-size: 17px;
        display: block;
    }
    .header .phone-main {
        display: inline-block;
    }
    .menu-mobile {
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 100vh;
        padding: 15px 15px;
        padding-bottom: 60px;
        display: none;
        overflow: auto;
        background: #020b0d;
        position: absolute;
      }
      .menu a {
        margin: 0;
        padding: 10px;
        display: block;
        position: relative;
        border-bottom: 1px solid #807F7D;
      }
    .menu-mobile .menu {
        display: block;
        padding: 0;
        background: transparent;
        margin: 0;
        font-size: 15px;
        line-height: 18px;
    }
    .menu-mobile .header__contacts {
        padding-top: 25px;
    }
    .menu-overlay {
        top: 87px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: -1;
    }
    .header.active {
        background: #020b0d;
        padding: 10px 0;
        top: 0;
    }
    .item-advantage {
        border-radius: 3px;
    }
    .item-step__content {
        border-radius: 4px;
    }
    .hint-title {
        left: 526px;
    }
    .item-contact {
        margin-bottom: 20px;
    }
    .form-page {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .questions.page {
        padding-top: 30px;
        padding-bottom: 35px;
    }
    .header .header__wrapper .phone-main {
        color: #fff;
    }
    .page.page_delivery {
        padding-top: 25px;
        padding-bottom: 35px;
    }
    .subitle-delivery {
        font-size: 15px;
        margin-left: 0;
        margin-top: 20px;
    }
    .page_delivery .row > div:nth-child(2) {
        order: -1;
    }
    .delivery-title {
        margin: 0 auto;
        margin-top: -30px;
        margin-bottom: -20px;
    }
    .image-delivery {
        margin: 0;
    }
    .image-delivery img {
        margin: 0 auto;
    }
    .page_delivery .title-main {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 13px;
        max-width: 100%;
    }
    .page_delivery ul {
        margin-top: 15px;
    }
    .page_delivery .col_delivery {
        padding-left: 5px;
        padding-top: 15px;
    }
    .reviews_page .reviews__title {
        width: 310px;
        height: 146px;
        padding-top: 25px;
        padding-left: 49px;
        margin-top: -77px;
    }
    .wrapper_page .menu-mobile,
    .wrapper_page .header.active {
        background: #f5f5f5;
    }
    .page_categories .title-section {
        font-size: 27px;
        line-height: 34px;
    }
    .page_categories .title-categories {
        width: 255px;
        height: 155px;
        padding-top: 20px;
        margin: 0 auto;
        padding-left: 46px;
        margin-top: -83px;
    }
    .page.page_categories {
        padding-bottom: 30px;
    }
    .order-title {
        margin: 0 auto;
        margin-bottom: 22px;
    }
    .page.page_order {
        padding-top: 38px;
        padding-bottom: 60px;
    }
    .image-thanks {
        margin-top: 0;
    }
    .page.page_thanks {
        padding-top: 31px;
        padding-bottom: 45px;
        text-align: center;
    }
    .thanks-title .title-section {
        font-size: 27px;
        line-height: 35px;
    }
    .thanks-title {
        width: 310px;
        height: 212px;
        padding-top: 43px;
        padding-left: 53px;
        margin: 0 auto;
        margin-bottom: 0px;
        text-align: left;
    }
    .image-thanks img {
        max-width: 375px;
    }
    .image-thanks {
        overflow: hidden;
    }
    .page_thanks .btn-main.btn-main_page {
        min-width: 275px;
    }
    .image-thanks img {
        left: 50px;
        position: relative;
        margin: 0 auto;
    }
    .slider-nav__item {
        height: 90px;
    }
    .slider-for__item {
        height: 380px;
    }
    .title-card {
        margin-top: 20px;
    }
    .page.page_card {
        padding-bottom: 60px;
    }

    .menu-dropdown {
        padding-top: 10px;
        max-height: 100vh;
        overflow: auto;
        padding-bottom: 140px;
        background: linear-gradient(180deg, #02080A -4.69%, #02090B 17.84%, #05151B 122.69%), linear-gradient(74.27deg, rgba(0, 0, 0, 0) 4.77%, rgba(16, 201, 225, 0.02) 57.56%);
        border: 1px solid rgba(16, 201, 225, 0.1);
    }
    .content-dropdown {
        border: none;
        background: transparent;
        border-radius: 0;
        padding: 0;
    }
    .menu-dropdown__title {
        margin: 15px 0;
    }
    .menu-dropdown__list li {
        margin-bottom: 17px;
    }
    .wrapper_page .menu-mobile, 
    .wrapper_page .header.active {
        background: #020b0d;
    }
    .wrapper_page .header.active .logo img {
        filter: initial;
    } 
    .wrapper_page .header.active {
        top: 0;
        box-shadow: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .fancybox-slide:not(.fancybox-slide--html) {
        padding: 20px;
    }
    .title-big {
        font-size: 25px;
    }
    .billbord .title-big {
        max-width: 428px;
    }
    .billbord .title-big::before {
        bottom: 28px;
    }
    .billbord .title-big span::before {
        width: 39px;
        height: 28px;
        left: 56px;
    }
    .billbord .descr-big {
        font-size: 14px;
    }
    .item-marquee {
        padding: 0px 22px;
    }
    .slider-marquee {
        padding: 6px 0;
        font-size: 12px;
    }
    .billbord::after,
    .billbord {
        border-radius: 24px;
    }
    .wrapper {
        padding: 0 5px;
        padding-bottom: 6px;
    }
    .title-big {
        font-size: 23px;
    }
    .billbord .title-big {
        max-width: 426px;
    }
    .billbord .title-big::before {
        bottom: 25px;
        right: 29px;
    }
    .billbord__buttons .btn-main:last-child {
        margin-right: 0;
    }
    .billbord__buttons {
        display: block;
        text-align: center;
        padding-top: 18px;
    }
    .billbord__buttons .btn-main {
        width: 334px;
        max-width: 100%;
        margin: 0;
        margin-top: 15px;
    }
    .about__block,
    .advantages {
        background-size: 100% auto;
        background-position: center bottom;
        position: relative;
    }
    .about__block::after,
    .advantages::after {
        position: absolute;
        display: block;
        content: " ";
        height: 90%;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #051317;
        border-radius: 40px 40px 0 0;
        z-index: -1;
    }
    .row_categories > .col-lg-3 .item-category {
        min-height: 350px;
    }
    .ic-tag {
        width: 25px;
        height: 25px;
        margin-right: 7px;
    }
    .tag-category {
        height: 36px;
        padding: 0 11px;
        margin-right: 5px;
        font-size: 12px;
        margin-top: 4px;
    }
    .tag-category.tag-category_main {
        min-width: 125px;
    }
    .tag-category:last-child {
        margin-right: 10px;
    }
    .ic-tag {
        margin-left: -6px;
    }
    .row_categories .col-lg-7,
    .row_categories .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .item-category__bottom {
        display: block;
    }
    .about__head .title-section {
        font-size: 20px;
    } 
    .about__head {
        display: block;
    }
    .about__value {
        margin: 0 auto;
        margin-top: 15px;
    }
    .about__block {
        min-height: auto;
        padding-top: 45px;
        padding-bottom: 90px;
    }
    .catalog__head {
        margin-bottom: 20px;
        display: block;
    }
    .catalog__title {
        margin-top: 0;
        top: -60px;
        margin-bottom: -45px;
        position: relative;
    }
    .slider-catalog .slick-slide {
        padding: 0 5px;
    }
    .slider-catalog .slick-list {
        margin: 0 -5px;
    }
    .image-catalog.image-catalog_top {
        margin-bottom: -12px;
    }
    .catalog {
        border-radius: 24px;
    }
    .about {
        padding-bottom: 60px;
    }
    .slider-steps {
        margin-right: -20px;
    }
    .steps__title {
        margin-left: -10px;
    }
    .callback .title-section {
        max-width: 393px;
    }
    .callback::after {
        height: 90%;
    }
    .clients {
        padding-top: 30px;
    }
    .block-review {
        font-size: 16px;
        padding: 20px 15px;
        display: block;
    }
    .btn-main {
        height: 55px;
    }
    .block-review .btn-main {
        margin-top: 20px;
        width: 190px;
    }
    .callback .col-md-8.align-self-center {
        order: 2;
    }
    .checkbox {
        margin-top: 20px;
        justify-content: center;
    }
    .steps {
        margin-bottom: 40px;
    }
    .item-form input, .item-form textarea {
        height: 44px;
        padding: 0 11px;
        font-size: 14px;
    }
    .clients .row_main::after, .clients .row_main::before {
        width: 93px;
        height: 63px;
    }
    .clients .row_main::before {
        bottom: -39px;
        left: -35px;
    }
    .clients .row_main::after {
        top: -53px;
        right: -36px;
    }
    .reviews {
        margin-top: 122px;
        border-radius: 24px;
        padding-bottom: 35px;
    }
    .slider-reviews {
        padding-bottom: 70px;
    }
    .questions__image {
        margin-top: 40px;
        margin-right: -15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .questions__image svg {
        max-width: 145px;
    }
    .questions .descr-big::before {
        display: none;
    }
    body {
        font-size: 14px;
    }
    .callback__icon {
        top: 72px;
        left: 57px;
    }
    .block-review::before {
        display: none;
    }
    .hint-title {
        display: none;
    }
    .item-step::before {
        width: 240px;
        height: 163px;
        top: -68px;
        left: -99px;
    }
    .block-review .btn-main {
        height: 60px;
    }
    .callback .btn-main {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .item-advantage::before {
        width: 150px;
        height: 150px;
    }
    .btn-main_billbord::after {
        background-image: url(../img/btn1.svg);
    }
    .slider-marquee ~ .billbord {
        margin-top: 33px;
    }
    .item-contact {
        font-size: 14px;
    }
    .item-contact strong {
        font-size: 16px;
    }
    .contacts-title {
        margin: 0 auto;
    }
    .page.page_contacts {
        padding-top: 30px;
    }
    .row_contacts {
        padding-bottom: 0;
    }
    .page {
        padding-bottom: 25px;
        margin-bottom: 30px;
        border-radius: 24px;
    }
    #map,
    .form-page {
        border-radius: 24px;
    }
    .wrapper_page .header {
        top: 27px;
    }
    .wrapper.wrapper_page {
        padding-top: 120px;
    }
    .page.page_card {
        padding-bottom: 40px;
    }
    .recommendations {
        padding: 50px 0;
    }
    .title-page {
        font-size: 28px;
        line-height: 36px;
    }
    .recommendations .title-page {
        margin-bottom: 23px;
    }
    .page_card ~ .callback {
        margin-bottom: 50px;
    }
    .breadcrumbs li::after {
        margin: 0 9px;
    }
    .breadcrumbs {
        display: block;
    }
    .breadcrumbs li {
        display: inline;
    }
    .page-numbers {
        font-size: 16px;
        margin: 0px 23px;
    }
    .prev.page-numbers, .next.page-numbers {
        width: 48px;
        height: 48px;
        font-size: 16px;
    }
    .pager {
        height: 48px;
        margin-top: 40px;
    }
    .page.page_news {
        padding-bottom: 40px;
    }
    .billbord-article {
        height: 250px;
    }
    .billbord-article img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
        max-width: initial;
    }
    .billbord-article h1 {
        font-size: 22px;
    }
    .billbord-article__content {
        padding: 0 20px;
    }
    .article-content {
        line-height: 165%;
    }
    .article-content h2 {
        font-size: 23px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .questions .descr-big::before {
        max-width: 326px;
    }
    .billbord .title-big::before {
        bottom: 51px;
        right: 18px;
    }
    .advantages {
        border-radius: 0;
    }
    .about__block::after, .advantages::after {
        border-radius: 20px 20px 0 0;
    }
    .item-category__title {
        font-size: 18px;
        line-height: 25px;
    }
    .item-category {
        height: 180px;
        padding: 12px;
    }
    .about__head .title-section br {
        display: none;
    }
    .image-catalog {
        margin-bottom: 10px;
    }
    .slick-arrow {
        width: 33px;
        height: 33px;
    }
    .slick-arrow svg {
        max-width: 100%;
        max-height: 100%;
    }
    .slider-catalog {
        padding-bottom: 56px;
    }
    .catalog {
        padding-bottom: 30px;
    }
    .item-step {
        width: 260px;
    }
    .item-step .title-small {
        font-size: 14px;
        line-height: 160%;
    }
    .list-socials img {
        max-width: 42px;
    }
    .item-step .list-socials {
        margin-top: 18px;
    }
    .item-step__phone {
        font-size: 19px;
        margin-bottom: 10px;
    }
    .item-step__number {
        margin-bottom: 28px;
    }
    .steps .slider-marquee {
        top: -95px;
        margin-bottom: -95px;
    }
    .callback__image img {
        max-width: 100%;
    }
    .title-main {
        font-size: 14px;
        line-height: 23px;
    }
    .item-client {
        min-height: 200px;
        padding: 15px;
    }
    .item-client .btn-main.btn-main_page {
        padding: 0 18px;
        height: 39px;
        font-size: 12px;
    }
    .callback .title-section {
        font-size: 25px;
        max-width: 250px;
    }
    .callback .title-section::before {
        width: 40px;
        height: 48px;
        top: 0;
    }
    .descr-big {
        font-size: 14px;
    }
    .callback::after {
        border-radius: 20px 20px 0 0;
    }
    .steps__title {
        width: 346px;
        height: 169px;
        padding-top: 72px;
        padding-left: 136px;
        margin-top: -104px;
        margin-bottom: 20px;
    }
    .steps__title .title-section {
        font-size: 23px;
        line-height: 30px;
    }
    .steps {
        margin-top: 105px;
    }
    .questions__image {
        display: none;
    }
    .footer {
        border-radius: 20px;
        padding-top: 20px;
    }
    .billbord .title-big {
        max-width: 330px;
    }
    .title-categories {
        width: 345px;
        height: 225px;
        padding: 0 52px;
        padding-top: 85px;
        margin: 0 auto;
        margin-top: -113px;
    }
    .callback__image {
        max-width: 325px;
    }
    .callback__icon img {
        max-width: 70px;
    }
    .callback__icon {
        top: 40px;
        left: 38px;
    }
    .item-step::before {
        width: 188px;
        height: 126px;
        top: -47px;
        left: -73px;
    }
    .page_order .title-main {
        font-size: 16px;
    }
    .slider-for__item {
        height: 330px;
    }
    .slider-nav__item {
        height: 74px;
    }
    .item-product__content {
        padding: 12px 10px;
        padding-bottom: 18px;
    }
    .item-product__title {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .item-product .btn-main {
        height: 38px;
        padding: 0 21px;
        font-size: 13px;
    }
    .item-product__image {
        height: 135px;
    }
    .title-page {
        font-size: 24px;
        line-height: 30px;
    }
    .recommendations {
        padding-top: 40px;
    }
    .page_shop .slider-for__item {
        height: 245px;
    }
    .row.row_news {
        margin-bottom: -25px;
    }
    .row.row_news > div {
        margin-bottom: 25px;
    }
    .billbord-article {
        height: 210px;
    }
    .news-title {
        margin: 0 auto;
        margin-bottom: -16px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .footer__content {
        display: block !important;
    }
    .menu-mobile {
        display: none !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media only screen and (min-width : 1380px) {
	.container {
        max-width: 1330px;
    }
}
@media (min-width: 1680px) {
	.container {
    max-width: 1630px;
}
}